<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet/less" type="text/css" href="/css/index.less">
  <script src="/js/less.init.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/less@4"></script>
  <script src="/js/index.js"></script>
  <title>ChatRoom</title>
</head>

<body>
  <div id="app" v-scope="App()">
    <div class="app-size">
      <div class="app-block" @contextmenu="appProxyContextMenu">
        <div class="left">
          <div class="avatar" :title="userStore.nickname">
            <img :src="userStore.avatar" alt="avatar" draggable="false">
          </div>
          <div class="add-items">
            <div class="button" title="添加群/人">
              <i class="iconfont icon-add"></i>
            </div>
          </div>
          <div class="tools">
            <div class="button setting" title="设置">
              <i class="iconfont icon-setting"></i>
            </div>
          </div>
        </div>
        <div :class="['middle',leftMinize?'mini':'']">
          <div class="search-block" v-scope="SearchBlock({
                  placeholder:'搜索',onInput:searchInput
                })"></div>
          <div class="chat-list" v-scope="ChatList()"></div>
        </div>
        <div class="right">
          <div v-if="" class="chat-room-wrapper" v-scope="ChatRoom()"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- component define -->
  <template id="search-block">
    <div class="search">
      <div class="mask" v-if="!inputFocus && searchStore.searchWords === ''" @click="$refs?.inputRef.focus()">
        <i class="iconfont icon-search"></i>
        <div class="text">{{placeholder}}</div>
      </div>
      <div class="clear" v-if="inputFocus && searchStore.searchWords !== ''">
        <i class="iconfont icon-clear" @click="searchStore.searchWords = ''"></i>
      </div>
      <div class="input-wrapper">
        <input spellcheck="false" autocomplete="off" autocorrect="off" autocapitalize="off" @focus="inputFocus = true"
          @blur="nextTickBlur" ref="inputRef" type="text" v-model="searchStore.searchWords" @input="onInput">
      </div>
    </div>
  </template>

  <template id="chat-item">
    <div :class="['chat-item']" :title="nickname">
      <div class="avatar">
        <img :src="avatar" alt="avatar">
      </div>
      <div class="info">
        <div class="nickname">
          {{nickname}}
        </div>
        <div class="preview">
          {{lastMessage}}
        </div>
      </div>
    </div>
  </template>

  <template id="chat-list">
    <div class="items-wrapper">
      <div v-for="item of chatStore.chatList"
        :class="['item-wrapper',chatStore.currentUserId == item.id ? 'checked':'']" :key="item.id"
        v-scope="ChatItem({...item})"></div>
    </div>
  </template>

  <template id="message-item">

  </template>

  <template id="message-list">
    <div class="messages-wrapper">

    </div>
  </template>

  <template id="emoji-picker">
    <div class="icon" title="插入表情">
      <i class="iconfont icon-emoji"></i>
    </div>
    <div class="emoji-picker-pannel">

    </div>
  </template>

  <template id="message-sender">
    <div class="message-sender-tools">
      <div class="message-sender-tools-block emoji-picker-block" v-scope="EmojiPicker()"></div>
    </div>
    <div class="message-sender-editor">
      <div ref="textareaRef" class="textarea" contenteditable="true" @input="editInput" spellcheck="false"></div>
    </div>
    <div class="message-sender-tip">
      按ctrl+enter发送
    </div>
  </template>

  <template id="chat-room">
    <div class="room-name">{{chatStore.room.name}}</div>
    <div class="message-block" v-scope="MessageList()"></div>
    <div class="sender-block" v-scope="MessageSender()"></div>
  </template>

  <!-- define end -->
  <script type="module" src="/js/ts-dist/app.js"></script>
</body>

</html>